
**/.DS_Store

**/.vs

**/.vscode

.vsconfig

**/Logs

**/Temp

**/Library

**/ProjectSettings

**/UserSettings

**/Packages

**/Assembly-CSharp.csproj

*.sln

**/obj

**/Build-And-Hit.sln.DotSettings.user

**/.idea